/* General layout
=================================================================*/
.Title
{
	font-family: Arial; 
	font-size: 50;
	font-stretch: expanded;
	font-weight: bold;
	color: #FFFFFFFF;
}

#PickingScreen
{
	width: 100%; 
	height: 100%;
}

#PickingHero
{
	width: 100%; 
	height: 100%;
	flow-children: down;
}


#LeftPlayers {
	padding-top: 50px;
	width: 50%;
	height: 90%;

	background-color: gradient( linear, -300% 100%, 100% 100%, from( #330000 ), to( #000000 ) );
	horizontal-align: left;
	flow-children: down;
}

#RightPlayers {
	padding-top: 50px;
	width: 50%;
	height: 90%;
	background-color: gradient( linear, 300% 100%, 0% 100%, from( #330000 ), to( #000000 ) );
	horizontal-align: right;
	flow-children: down;
}

.HeroIcon 
{
	border: 2px solid #111111FF;
	flow-children: down;
}

.HeroIcon:hover {
	border: 2px solid #FFFFFF;
	ui-scale: 150%;
}

#PickingAbility
{
	flow-children: right-wrap;
}

.AbilityIcon
{
	width: 100px;
	height: 100px;
	border: 2px solid #111111FF;
}

.AbilityIcon:hover {
	border: 2px solid #FFFFFF;
	ui-scale: 100%;
}

#ShuffleTeamAssignmentButton
{    
    height: 32px;
    margin-top: 8px;
    margin-left: 6px;
    horizontal-align: left;
    flow-children: right;
}

#ShuffleTeamAssignmentButton Label
{
    font-size: 24px;
		text-transform: uppercase;
    margin-top: 2px;
    margin-right: 5px;
    color: #6e6f6f;
    vertical-align: center;
}

#ShuffleTeamAssignmentButton:hover Label
{
	color: white;
}

#ShuffleTeamAssignmentButton Image
{
    width: 24px;
	height: 24px;
	wash-color: #888888;
    vertical-align: center;
}

#ShuffleTeamAssignmentButton:hover Image
{
	wash-color: white;
}

/* 'Enter game' button
=================================================================*/
#EnterGameBtn {
	horizontal-align: center;
	margin-top: 20px;

	box-shadow: fill #00000066 -4px -4px 8px 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5AA15E ), to( #87d69533 ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 320px 120px;
	height: 55px;
	width: 420px;
	padding-top: 6px;
}

#EnterGameBtn.disabled, #EnterGameBtn.disabled:Hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #9C9C9C ), to( #D1D1D133 ) );
}

#EnterGameBtn:Hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6FDE75 ), to( #87d69533 ) );
}

#EnterGameBtn Label {
	horizontal-align: center;
	color: #fff;
	font-size: 36px;
}